<h2>Grand Rounds On Demand</h2>
<p>Public Health Grand Rounds is a monthly webcast created to foster discussion on major public health issues. Each session focuses on key challenges related to a specific health topic, and explores cutting-edge scientific evidence and potential impact of different interventions. The Grand Rounds sessions also highlight how CDC and its partners are already addressing these challenges and discuss the recommendations for future research and practice.</p>

<div class="tp-sr-only" id="filter-description">
  This filtering area contains options for sorting data dynamically for easy discovery.
  Filtering options include dropdowns to filter by text search, category, lifespan and various sorting.
</div>

<div class="well" id="mediaFilter" aria-describedby="filter-description">
  <form class="form-inline" name="filterForm">
    <div class="row">
      <div class="span7" style="margin-right:15px;">
          <label for="inputSearch">Search</label>
          <input type="text" id="inputSearch" [(ngModel)]="searchText" name="searchText" placeholder="Topic, Category, etc." aria-controls="searchtext-info" (input)="focusFirstItem()" />
      </div>

      <div class="span4">
        <label for="searchCat">Filter by <span class="tp-sr-only">category</span></label>
        <select [(ngModel)]="searchCat" name="searchCat" id="searchCat" aria-controls="category-info" (change)="focusFirstItem()">
          <option [selected]="searchCat === ''" value="" selected>Select Category</option>
          <option *ngFor="let category of filterMeta?.cdc_session_browsing_categories" [ngValue]="category">{{category}}</option>
        </select>
      </div>
      
      <div class="span4">
        <label for="searchYear">Filter by <span class="tp-sr-only">lifespan</span></label>
        <select [(ngModel)]="searchYear" name="searchYear" aria-controls="lifespan-info" id="searchYear" (change)="focusFirstItem()">
          <option [selected]="searchYear === ''" value="" selected>Select Lifespan</option>
          <option *ngFor="let year of filterMeta?.cdc_session_browsing_lifespan" [ngValue]="year">{{year}}</option>
        </select>
      </div>

      <div class="span4 pull-right">
        <label for="searchSort">Sort by <span class="tp-sr-only">category</span></label>
        <select [(ngModel)]="searchSort" name="searchSort" id="searchSort" (change)="focusFirstItem()" aria-controls="sort-info">
          <option [ngValue]="sortItems?.cdc_short_title.asc">{{sortItems?.cdc_short_title.asc}}</option>
          <option [ngValue]="sortItems?.cdc_short_title.desc">{{sortItems?.cdc_short_title.desc}}</option>
          <option [ngValue]="sortItems?.cdc_event_start_date.asc">{{sortItems?.cdc_event_start_date.asc}}</option>
          <option [ngValue]="sortItems?.cdc_event_start_date.desc">{{sortItems?.cdc_event_start_date.desc}}</option>
        </select>
      </div>
    </div>
  </form>
</div>

<div *ngIf="!(items | filter:searchText:searchYear:searchCat:searchSort)?.length" class="noResults">
  <a href="#" id="media_0">No Grand Rounds sessions meet the selected criteria. Please adjust the filter options above.</a>
</div>

<div class="mediaResults row">
  <div class="span12 mediaModule" aria-atomic="true" 
    *ngFor="let item of items | filter : searchText:searchYear:searchCat:searchSort; let i = index; let odd = odd">
    
    <section class="module-typeA">
      <h3><a href="{{item.public_url}}" id="media_{{i}}">{{item.cdc_short_title}}</a></h3>

      <div class="mediaDate gray4-color">
        {{item.cdc_event_start_date | date: 'MMMM y'}}<span *ngIf="item.cdc_session_browsing_categories.length">, </span>
        <span *ngFor="let cats of item.cdc_session_browsing_categories | slice:0:3; let last = last">
          {{cats}}<span *ngIf="!last">, </span>
        </span>
      </div>

      <figure class="pull-left">
        <img class="stroke center mediaImg" alt="{{item.cdc_short_title}}" [src]="item.cdc_related_image" style="display: block;">
      </figure>
      
      <div [innerHTML]="item.cdc_internal_description" class="mediaDesc"></div>

      <!-- <div class="span4">
        <figure>
          <img class="stroke center mediaImg" alt="{{item.cdc_short_title}}" [src]="item.cdc_related_image" style="display: block;">
        </figure>
      </div>

      <div class="span7">
        <div [innerHTML]="item.cdc_internal_description" class="mediaDesc"></div>
      </div> -->
      

      <p class="morelink">
        <a href="{{item.public_url}}" class="tp-link-policy">
          Watch Now<span class="print-only">({{item.public_url}})</span>
        </a>
        <span class="icon-angle-right">
        </span><span class="icon-angle-right"></span>
      </p>

    </section>
  </div>

</div><!-- mediaResults -->
