<h2>Grand Rounds On Demand</h2>
<p>Public Health Grand Rounds is a monthly webcast created to foster discussion on major public health issues. Each session focuses on key challenges related to a specific health topic, and explores cutting-edge scientific evidence and potential impact of different interventions. The Grand Rounds sessions also highlight how CDC and its partners are already addressing these challenges and discuss the recommendations for future research and practice.</p>

<div class="well" id="mediaFilter">
  <form class="form-inline">
    <div class="row">
      <div class="span7" style="margin-right:15px;">
          <label for="inputSearch">Search</label>
          <input type="text" id="inputSearch" [(ngModel)]="searchText" name="searchText" placeholder="Topic, Category, Speaker etc." />
      </div>

      <div class="span4">
        <label for="searchCat">Filter by</label>
        <select [(ngModel)]="searchCat" name="searchCat" id="searchCat">
          <option [selected]="searchCat === ''" value="" selected>Category (all)</option>
          <option *ngFor="let category of filterMeta?.cdc_browsing_categories" [ngValue]="category">{{category}}</option>
        </select>
      </div>
      
      <div class="span4">
        <label>Filter by</label>
        <select [(ngModel)]="searchYear" name="searchYear">
          <option [selected]="searchYear === ''" value="" selected>Lifespan (all)</option>
          <option *ngFor="let year of filterMeta?.cdc_browsing_lifespan" [ngValue]="year">{{year}}</option>
        </select>
      </div>
    </div>
  </form>
</div>

<div class="mediaResults">

  <div class="span11 mediaModule" 
    *ngFor="let item of items | filter : searchText:searchYear:searchCat; let i = index; let odd = odd">
    <section class="module-typeA">
      <h3>{{item.post_title}}</h3>
      <figure class="pull-left">
        <img class="stroke center" alt="{{item.post_title}}" [src]="item.cdc_related_image" style="display: block;">
      </figure>
      <div>
        <span class="mediaDate gray3-color">{{item.cdc_event_start_date | date: 'MMMM, y'}}</span>
        <p>{{item.cdc_internal_description}}</p>
      </div>

      <p class="morelink">
        <a href="{{item.public_url}}" class="tp-link-policy">
          Watch Now<span class="print-only">({{item.public_url}})</span>
        </a>
        <span class="icon-angle-right">
        </span><span class="icon-angle-right"></span>
      </p>

    </section>
  </div>

</div><!-- mediaResults -->
